  .completed {
    background-color: #c8f7c5 !important; /* Verde suave */
    color: #155724 !important; /* Verde oscuro para texto*/
    border-color: #b1e6ad !important;
  }
  /* Alinear botones del footer */
  .card-footer {
    display: flex;
    justify-content: center;
    gap: 12px;
  }
  /* Ajustar botón que estaba bajándose */
  #clearCompletedBtn {
    margin-top: 0 !important;
  }